@page "/signing/{SessionId}"
@using ESignerDemoWasmApp.Client.Services

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@inject ApiService ApiService

<PageTitle>ESigner - Confirm</PageTitle>

<h3>Confirm</h3>

<div style="width:500px;">
    <div class="d-flex flex-column w-75">
        <button class="btn btn-warning m-2" onclick="@CompleteHandler">Generate Envelope
            @if (IsLoading)
            {
                <div class="spinner-border spinner-border-sm text-light" role="status" />
            }
        </button>
    </div>
</div>

@code {
    [Parameter]
    public string? SessionId { get; set; }

    private bool IsLoading { get; set; } = false;

    private async void CompleteHandler()
    {
        IsLoading = true;

        this.StateHasChanged();

        //await this.ApiService.Login();

        IsLoading = false;

        this.StateHasChanged();
    }
}
