@page "/"
@* @rendermode InteractiveServer *@
@* @rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false)) *@
@rendermode InteractiveWebAssembly
@inject NavigationManager Navigation

<PageTitle>ESigner - Home</PageTitle>

<div class="alert alert-secondary" role="alert">

    <h1>Welcome</h1>

    <p>This is a demo app to demonstrate the integration worflow for authetnication and signing with ESigner & SANAD for client side application with a backend.</p>
    <br/>
    <b>Note:</b>
    <div>Front End: <b>http://localhost:5016</b></div>
    <div>Back End:<b>https://localhost:7104</b></div>
</div>

<button class="btn btn-primary" onclick="@GetStarted">Get Started</button>

@code {

    private void GetStarted()
    {
        Navigation.NavigateTo("/sanad1");
    }
}