@page "/"
@rendermode InteractiveWebAssembly

<PageTitle>ESigner - Home</PageTitle>

<div class="alert alert-secondary" role="alert">
    <h1>Welcome</h1>
    <p>This is a demo app to demonstrate the integration workflow of ESigner API & SANAD for authentication and signing for client side application with a backend.</p>
    <br/>
    <b class="text-danger">Note: </b>
    <p>Configure ESignerUrl, RedirectUrl, and SigninPageUrl in <b>appsettings.json</b>.<br />RedirectUrl can be frontend or backend endpoint based on your workflow.</p>
</div>

@code {

}