@page "/sanad1"

@inject NavigationManager Navigation
@inject ClientApiService ApiService

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <h3>Demo 1: ESigner SANAD Authentication & Signing</h3>
        <br />
        <div class="alert alert-secondary w-75" role="alert">
            <div class="d-flex flex-column align-items-stretch">
                <button class="btn btn-primary m-2" onclick="@LoginHandler">
                    ESigner Login
                    @if (IsLoading)
                    {
                        <div class="spinner-border spinner-border-sm text-light" role="status" />
                    }
                </button>

                @if (IsAuthenticated)
                {
                    <div class="form-group m-2">
                        <label for="nationalId">National ID</label>
                        <input type="text" class="form-control" id="nationalId" placeholder="Enter Jordanian National Id (10 Digits)" @bind="NationalId">
                    </div>
                    <button class="btn btn-success m-2" onclick="@StartSignHandler">SANAD Authentication</button>
                }
            </div>
        </div>
    </div>
</div>

@code {

    private bool IsAuthenticated => ApiService.IsLoggedIn;

    private string NationalId { get; set; } = "9831001234";

    private bool IsLoading { get; set; } = false;

    private async void LoginHandler()
    {
        IsLoading = true;

        this.StateHasChanged();

        await this.ApiService.Login();

        IsLoading = false;

        this.StateHasChanged();
    }

    /// <summary>
    /// Demonstrate SANAD authentication & signing workflow.
    /// </summary>
    private async void StartSignHandler()
    {
        if (string.IsNullOrEmpty(NationalId) || NationalId.Length != 10)
        {
            return;
        }

        var resp = await this.ApiService.SanadInit(NationalId);

        Navigation.NavigateTo(resp.AuthUrl);

        this.StateHasChanged();
    }
    }
